* {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.section-1 {
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    align-items: center;
    background-color: #f7eded;
}

.btn{
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 35px;
    border:none;
}

.section1-img img {
    padding-left: 30px;
    padding-top: 20px;
    width: 390px;
    height: 400px
}

.section-2 {
    text-align: center;
    align-items: center;
}
.pink6{
    display: inline-block;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 270px;
    height: 320px;
    margin-left: 12px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.mixedflower{
    display: inline-block;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 270px;
    height: 320px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.yellow7{
    display: inline-block;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 270px;
    height: 320px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.flowertext{
    display: flex;
    margin-left: 200px;
    text-align: center;
    margin-top: 12px;
}
.textc{
    margin-left: 215px;
}
.textb{
    margin-left: 218px;
}
.delivery{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 980px;
    height: 250px;
    flex-shrink: 0;
    margin-top: 100px;
    margin-right: 120px;
    margin-bottom: 100px;
    margin-left: 120px;
}
.man{
    width: 70px;
    height: 70px;
    margin-top: 80px;
    margin-left: 190px;
}
.flower{
    width: 70px;
    height: 70px;
    margin-top: 80px;
    margin-left: 240px;
}
.support{
    width: 70px;
    height: 70px;
    margin-top: 80px;
    margin-left: 200px;
}
.del-text{
    color: rgba(39, 39, 39, 0.80);
    display: flex;
    padding-left: 75px;
    line-height: 15px;
}
.text-1{
    text-align: center;
    padding-left: 60px;
}
.text-2{
    text-align: center;
    padding-left: 100px;
}






